{
  "openapi": "3.1.0",
  "info": {
    "title": "FEED DEPLOYMENT APIs (BETA)",
    "version": "3.0.0",
    "description": "API for retrieving personalized recommendations. This endpoint consumes a feed\nconfiguration (by reference via feed_id) to generate a ranked list of content\ntailored to each user's behavior and preferences.\n",
    "contact": {
      "name": "embed Support",
      "email": "support@mbd.xyz"
    }
  },
  "servers": [
    {
      "url": "https://api.mbd.xyz/v3",
      "description": "Farcaster Feed API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Get recommendations",
      "description": "## Overview\n\nThe recommendations endpoint delivers personalized content feeds tailored to individual users. This endpoint consumes feed configurations (referenced via `feed_id`) to generate ranked lists of content from Farcaster posts, Zora posts, or Polymarket markets.\n\n## Key Concepts\n\n- **Feed Configuration**: Pre-configured feeds created via the Feed Management API define filtering, scoring, and ranking logic\n- **Personalization**: Recommendations are customized per user based on their interaction history, following graph, and preferences\n- **Feed Sources**: Supports Farcaster items (posts), Zora coins (posts), and Polymarket markets\n- **Override Parameters**: Any parameters passed directly to the API override those saved in the `feed_id` configuration\n\n## Usage\n\nReturns a list of recommended items (posts, Zora posts, or Polymarket markets) for a specific user - items the user is most likely to interact with. The `feed_id` parameter lets you use preconfigured filters and ranking logic from the console, while direct API parameters provide runtime overrides. For Polymarket feeds, use `wallet_address` instead of `user_id`.\n"
    }
  ],
  "paths": {
    "/for-you": {
      "post": {
        "operationId": "getForYouFeed",
        "tags": [
          "Get recommendations"
        ],
        "summary": "Get personalized feed recommendations",
        "description": "## Overview\n\nThe recommendations endpoint delivers personalized content feeds tailored to individual users. This endpoint consumes feed configurations (referenced via `feed_id`) to generate ranked lists of content from Farcaster posts, Zora posts, or Polymarket markets.\n\n## Key Concepts\n\n- **Feed Configuration**: Pre-configured feeds created via the Feed Management API define filtering, scoring, and ranking logic\n- **Personalization**: Recommendations are customized per user based on their interaction history, following graph, and preferences\n- **Feed Sources**: Supports Farcaster items (posts), Zora coins (posts), and Polymarket markets\n- **Override Parameters**: Any parameters passed directly to the API override those saved in the `feed_id` configuration\n\n## Usage\n\nReturns a list of recommended items (posts, Zora posts, or Polymarket markets) for a specific user - items the user is most likely to interact with. The `feed_id` parameter lets you use preconfigured filters and ranking logic from the console, while direct API parameters provide runtime overrides. For Polymarket feeds, use `wallet_address` instead of `user_id`.\n\n## Feed Status\n\nFeed statuses let you trade off **performance vs. cost** by controlling how aggressively a feed is pre\u2011warmed and cached before users request it. Available statuses include **Draft** (for experimentation), **Group** (for beta testing with whitelisted users), and **Live** (for full production).\n\nFor complete details on feed statuses, warmup tiers, latency considerations, and cost implications, see the [Feed Status Guide](https://docs.getembed.ai/update/docs/feed-deployment-status#/versions) and [Compute units to pricing mapping](https://docs.getembed.ai/update/docs/compute-units-pricing).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForYouRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Personalized feed returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForYouResponse"
                },
                "example": {
                  "status_code": 200,
                  "body": [
                    {
                      "item_id": "0x07cb7745d02cbdfc8bc31207870f0e623aa75573",
                      "popular_score": 0.11901387774133333,
                      "trending_score": 0.19252691666666666,
                      "text_length": 42,
                      "affinity_score": 0,
                      "social_proof": [
                        {
                          "user_id": 361635,
                          "timestamp": 1764865269,
                          "interaction": "like"
                        },
                        {
                          "user_id": 12388,
                          "timestamp": 1764861804,
                          "interaction": "like"
                        }
                      ],
                      "score": 0.11901387774133333,
                      "adjusted_score": 0.0011292917029457927,
                      "source_feed": "fallback_main_1:feed_406",
                      "metadata": {
                        "text": "All 3 massively underrated in their genres",
                        "embed_items": [
                          "https://imagedelivery.net/BXluQx4ige9GuW0Ia56BHw/b8ab7a70-176a-4e19-3ea8-2a5a5558c800/original"
                        ],
                        "timestamp": 1764861160,
                        "root_parent_hash": "root",
                        "parent_hash": null,
                        "root_parent_url": null,
                        "mentioned_profiles": [],
                        "ai_labels": {
                          "topics": [
                            "music"
                          ],
                          "sentiment": [
                            "neutral"
                          ],
                          "emotion": [],
                          "moderation": [],
                          "web3_topics": []
                        },
                        "app_fid": "9152",
                        "geo_location": "34.05,-118.24",
                        "likes_count": 95,
                        "comments_count": 20,
                        "shares_count": 8,
                        "author": {
                          "user_id": 2,
                          "username": "v",
                          "display_name": "Varun Srinivasan",
                          "pfp_url": "https://imagedelivery.net/BXluQx4ige9GuW0Ia56BHw/e3d80f99-f7c0-4b04-dcad-557593d85500/original",
                          "spam_score": 0.3167084992
                        }
                      }
                    },
                    {
                      "item_id": "0x7ac08f9738e6984dd48e9a1f425c114a215e9269",
                      "popular_score": 0.090425966599,
                      "trending_score": 0.1696875,
                      "text_length": 0,
                      "affinity_score": 0.06666666666666667,
                      "social_proof": [],
                      "score": 0.090425966599,
                      "adjusted_score": 9.21055596761386e-05,
                      "source_feed": "fallback_main_1:feed_406"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or feed_id access denied",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status_code": {
                          "type": "integer",
                          "description": "HTTP status code"
                        },
                        "body": {
                          "type": "string",
                          "description": "Error message describing the issue"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "invalidFeedId": {
                    "summary": "Invalid feed_id",
                    "value": {
                      "status_code": 400,
                      "body": "Invalid feed_id for this API"
                    },
                    "description": "The provided feed_id is not accessible with this API key or does not exist. Each API key has access to specific feed configurations."
                  },
                  "standardError": {
                    "summary": "Standard error format",
                    "value": {
                      "error": "invalid_request",
                      "message": "The feed_id parameter is required",
                      "code": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "mbd-{apiKey}",
        "description": "API key authentication using Bearer token format. The API key should be sent as: Authorization: Bearer mbd-{your-api-key}\n\nExample:\nAuthorization: Bearer mbd-a4790a01cf57c80b08afc644e717c28c4e49f629bc399b55d75fb63a6bee885f\n\nNote: The \"Bearer\" prefix is required. Most API clients will automatically add this prefix when using the http bearer scheme."
      }
    },
    "schemas": {
      "ForYouRequest": {
        "type": "object",
        "required": [
          "feed_id"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "description": "fid of user to get recommendations for. NOTE: wallet_address is ignored if user_id is specified. At least one of user_id and wallet_address should be provided.",
            "example": "1"
          },
          "wallet_address": {
            "type": "string",
            "description": "wallet address (verified on Farcaster) of user to get recommendations for. NOTE: wallet_address is ignored if user_id is specified. At least one of user_id and wallet_address should be provided.",
            "example": "0x1234567890123456789012345678901234567890"
          },
          "feed_id": {
            "type": "string",
            "description": "Feed configuration ID to use for generating recommendations. Note: The feed_id must be accessible by your API key. If you receive an 'Invalid feed_id for this API' error, the feed_id either doesn't exist or your API key doesn't have access to it.",
            "example": "feed_390"
          },
          "top_k": {
            "type": "integer",
            "description": "maximum number of posts to return (max 500)",
            "example": 25
          },
          "impression_count": {
            "type": "integer",
            "description": "Number of posts that will be considered as seen by the user in a given API call, outside of any potential offchain data",
            "minimum": 0,
            "example": 1
          },
          "return_metadata": {
            "type": "boolean",
            "description": "Whether to include metadata (including AI labels and data to help rendering the posts) in results",
            "default": false,
            "example": true
          },
          "feed_refresh": {
            "type": "boolean",
            "description": "The feed_refresh parameter is a boolean flag in the For You API that controls whether API calls trigger asynchronous background cache updates.\n\n**How It Works**\n\nDefault: true (maintains backward compatibility)\n\n**Behavior**\n\nWhen feed_refresh = true (default):\n- Returns current cached feed recommendations\n- Triggers background cache update via Kinesis or Lambda async invocation\n- Update refreshes personalized recommendations with fresh engagement data, affinity scores, and new content\n\nWhen feed_refresh = false:\n- Returns current cached feed recommendations\n- Skips background cache update entirely\n- Logs: \"feed_refresh=False, skipping cache updates\"\n\n**Use Cases**\n\n- Polling/prefetch requests: Set to false to reduce backend load\n- High-frequency API calls: Set to false to prevent unnecessary processing\n- Testing: Set to false for predictable responses\n- Normal browsing: Use default true to keep recommendations fresh",
            "default": true,
            "example": true
          }
        }
      },
      "ForYouResponse": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer",
            "description": "HTTP status code",
            "example": 200
          },
          "body": {
            "type": "array",
            "description": "Array of recommended post items with scoring information",
            "items": {
              "type": "object",
              "properties": {
                "item_id": {
                  "type": "string",
                  "description": "Unique identifier (hash) for the post item",
                  "example": "0x589eaaf6332510b466d0b116f4715a6940f36ff4"
                },
                "popular_score": {
                  "type": "number",
                  "description": "Popularity score for the post",
                  "example": 0.06387698108133333
                },
                "trending_score": {
                  "type": "number",
                  "description": "Trending score for the post",
                  "example": 0.7713166666666667
                },
                "text_length": {
                  "type": "integer",
                  "description": "Length of the post text in characters",
                  "example": 84
                },
                "affinity_score": {
                  "type": "number",
                  "description": "User affinity score for the post (based on following graph)",
                  "example": 0
                },
                "social_proof": {
                  "type": "array",
                  "description": "Array of social proof indicators (users followed by the requesting user who interacted with this post)",
                  "items": {
                    "type": "object",
                    "properties": {
                      "user_id": {
                        "type": "integer",
                        "description": "FID of the user who interacted with the post"
                      },
                      "timestamp": {
                        "type": "integer",
                        "description": "Unix timestamp of the interaction"
                      },
                      "interaction": {
                        "type": "string",
                        "enum": [
                          "like",
                          "share",
                          "comment"
                        ],
                        "description": "Type of interaction"
                      }
                    }
                  },
                  "example": [
                    {
                      "user_id": 361635,
                      "timestamp": 1764865269,
                      "interaction": "like"
                    }
                  ]
                },
                "interest_score": {
                  "type": "number",
                  "description": "Interest score for the post (based on user's past interactions). May be omitted when scoring is set to 'none'.",
                  "example": 0
                },
                "score": {
                  "type": "number",
                  "description": "Final combined score for ranking",
                  "example": 0.11901387774133333
                },
                "adjusted_score": {
                  "type": "number",
                  "description": "Score adjusted by time decay and other factors",
                  "example": 0.0011292917029457927
                },
                "source_feed": {
                  "type": "string",
                  "description": "Identifies which feed source this post came from. Format: \"{type}:{feed_id}\" (e.g., \"main:feed_3380\", \"fallback_main_1:feed_406\")",
                  "example": "fallback_main_1:feed_406"
                },
                "metadata": {
                  "type": "object",
                  "description": "Additional metadata about the post. Only included when return_metadata is set to true.",
                  "properties": {
                    "text": {
                      "type": "string",
                      "description": "Content of the post"
                    },
                    "embed_items": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Array of embedded media URLs"
                    },
                    "timestamp": {
                      "type": "integer",
                      "description": "Unix timestamp when post was created"
                    },
                    "root_parent_hash": {
                      "type": "string"
                    },
                    "parent_hash": {
                      "type": ["string", "null"]
                    },
                    "root_parent_url": {
                      "type": ["string", "null"]
                    },
                    "mentioned_profiles": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "ai_labels": {
                      "type": "object",
                      "properties": {
                        "topics": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "sentiment": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "emotion": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "moderation": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "web3_topics": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "app_fid": {
                      "type": "string",
                      "description": "FID of the app that created the post"
                    },
                    "geo_location": {
                      "type": ["string", "null"],
                      "description": "Geographic location as latitude,longitude"
                    },
                    "likes_count": {
                      "type": "integer"
                    },
                    "comments_count": {
                      "type": "integer"
                    },
                    "shares_count": {
                      "type": "integer"
                    },
                    "author": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "integer"
                        },
                        "username": {
                          "type": "string"
                        },
                        "display_name": {
                          "type": "string"
                        },
                        "pfp_url": {
                          "type": "string"
                        },
                        "spam_score": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error type or code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "code": {
            "type": "integer",
            "description": "HTTP status code"
          }
        },
        "example": {
          "error": "invalid_request",
          "message": "The feed_id parameter is required",
          "code": 400
        }
      }
    }
  }
}
